.textContainer {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    color: ghostwhite;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 10px black;
}
.textContainer > h2 {
    text-transform: uppercase;
    font-size: 2.4rem;
    margin-bottom: 10px;
}
.textContainer > h1 {
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.textContainer > p {
    font-size: 2.2rem;
    margin-bottom: 40px;
}
.textContainer > button {
    margin-bottom: 100px;
    font-size: 1rem;
}