.quantitySelector__controls {
    display: flex;
    align-items: center;
    gap: 25px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    padding: 0 30px;
}
.quantitySelector__controls button {
    outline: none;
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    opacity: 0.5;
    transition: opacity .3s ease-in-out;
}
.quantitySelector__controls button:hover {
    opacity: 1;
}