*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5f5f5;
}

.wrapper {
  padding-left: 50px;
  padding-right: 50px;
}

.slick-prev,
.slick-next {
  width: auto !important;
  padding: 10px 15px !important;
  height: fit-content !important;
  transition: background .3s ease-in-out !important;
}
.slick-prev:before, .slick-next:before {
  font-family: monospace !important;
  line-height: 1 !important;
  color: black !important;
  font-weight: bold !important;
  opacity: 0.6 !important;
  transition: opacity .3s ease-in-out !important;
}

.slick-prev:before {
  content: "<" !important;
}
.slick-next:before {
  content: ">" !important;
}

.slick-prev:hover:before, .slick-next:hover:before {
  opacity: 1 !important;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: #fff !important;
}
