.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 200px;
  height: 150px;
  background-color: #fefefe;
  pointer-events: all;
}
.card .image {
  object-fit: contain;
  width: 60%;
  height: 65%;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 10px;
}
.card p {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}
.card:hover {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}
