.itemInfo {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.itemInfo .itemContainer > img {
  object-fit: contain;
  width: 150px;
  height: 150px;
}
.itemInfo .itemContainer {
  display: flex;
  gap: 25px;
}
.itemInfo .itemContainer h3 {
  font-size: 1.8rem;
}
.itemInfo .itemContainer p {
  font-size: 1.4rem;
}
.itemInfo > div:last-child {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.itemInfo > div:last-child > p:first-child {
  font-size: 1.5rem;
}
.separator {
    margin: 5px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
