.navButtons {
  padding: 10px 15px;
  border-radius: 15px;
  outline: none;
  border: none;
  background-color: transparent;
  color: ghostwhite;
  opacity: 0.7;
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.navButtons:hover {
  opacity: 1;
}
